apiVersion: v1
kind: Service
metadata:
  name: events
spec:
  type: NodePort
  selector:
    app: events
  ports:
  - name: http
    port: 4055
    targetPort: 4055
    nodePort: 30033
    protocol: TCP
