.idea/
.DS_Store
node_modules/
yarn-error.log
lerna-debug.log
.nyc_output/
coverage/
coverage.json
core/kafka-event-consumer/test/config/test.swagger.json
core/kafka-event-consumer/test/config/base.conf
core/mongo-event-builder/test/config/base.conf
core/merminator/test/config

/docker/db-events/test/queue/
.aider*
bun.lockb
