apiVersion: v1
kind: ConfigMap
metadata:
  name: redpanda-config
data:
  redpanda.yaml: |
    redpanda:
      data_directory: /var/lib/redpanda/data
      seed_servers:
        - host:
            address: redpanda-0.redpanda-headless.mongo-de-kafka.svc.cluster.local
            port: 33145
      rpc_server:
        address: 0.0.0.0
        port: 33145
      kafka_api:
        - address: 0.0.0.0
          port: 9092
      admin:
        - address: 0.0.0.0
          port: 9644
      developer_mode: true
    pandaproxy:
      pandaproxy_api:
        - address: 0.0.0.0
          port: 8082
    schema_registry:
      schema_registry_api:
        - address: 0.0.0.0
          port: 8081
